<launch>
	<arg name="est" default="ekf2"/>
	<arg name="vehicle" default="iris"/>
	<arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>
	<arg name="gui" default="true"/>
	<arg name="debug" default="false"/>
	<arg name="verbose" default="false"/>
	<arg name="paused" default="false"/>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="gui" value="$(arg gui)"/>
		<arg name="world_name" value="$(arg world)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="verbose" value="$(arg verbose)"/>
		<arg name="paused" value="$(arg paused)"/>
	</include>
	
	<group ns="uas1">
		<arg name="ID" value="1"/>
		<arg name="fcu_url" default="udp://:20101@localhost:20201"/>
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="1"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="rcS" value="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
            <arg name="mavlink_udp_port" value="20301"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
		<include file="$(find mavros)/launch/px4.launch">
			<arg name="fcu_url" value="$(arg fcu_url)"/>
			<arg name="gcs_url" value=""/>
			<arg name="tgt_system" value="$(arg ID)"/>
			<arg name="tgt_component" value="1"/>
		</include>
	</group>
	
	<group ns="uas2">
		<arg name="ID" value="2"/>
		<arg name="fcu_url" default="udp://:20102@localhost:20202"/>
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="2"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="rcS" value="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
            <arg name="mavlink_udp_port" value="20302"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
		<include file="$(find mavros)/launch/px4.launch">
			<arg name="fcu_url" value="$(arg fcu_url)"/>
			<arg name="gcs_url" value=""/>
			<arg name="tgt_system" value="$(arg ID)"/>
			<arg name="tgt_component" value="1"/>
		</include>
	</group>
	
	<group ns="uas3">
		<arg name="ID" value="3"/>
		<arg name="fcu_url" default="udp://:20103@localhost:20203"/>
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="3"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="rcS" value="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
            <arg name="mavlink_udp_port" value="20303"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
		<include file="$(find mavros)/launch/px4.launch">
			<arg name="fcu_url" value="$(arg fcu_url)"/>
			<arg name="gcs_url" value=""/>
			<arg name="tgt_system" value="$(arg ID)"/>
			<arg name="tgt_component" value="1"/>
		</include>
	</group>
	
	<group ns="uas4">
		<arg name="ID" value="4"/>
		<arg name="fcu_url" default="udp://:20104@localhost:20204"/>
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="4"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="rcS" value="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
            <arg name="mavlink_udp_port" value="20304"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
		<include file="$(find mavros)/launch/px4.launch">
			<arg name="fcu_url" value="$(arg fcu_url)"/>
			<arg name="gcs_url" value=""/>
			<arg name="tgt_system" value="$(arg ID)"/>
			<arg name="tgt_component" value="1"/>
		</include>
	</group>
	
	<group ns="uas5">
		<arg name="ID" value="5"/>
		<arg name="fcu_url" default="udp://:20105@localhost:20205"/>
		<include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="5"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="rcS" value="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg vehicle)_$(arg ID)"/>
            <arg name="mavlink_udp_port" value="20305"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
		<include file="$(find mavros)/launch/px4.launch">
			<arg name="fcu_url" value="$(arg fcu_url)"/>
			<arg name="gcs_url" value=""/>
			<arg name="tgt_system" value="$(arg ID)"/>
			<arg name="tgt_component" value="1"/>
		</include>
	</group>
	</launch>